// main: ../main.styl

$desktop = "(min-width: 990px)"
$tablet = "(min-width: 768px) and (max-width: 990px)"
$phone = "(max-width: 767px)"
$tablet_and_phone = "(max-width: 990px)"

$default-primary-color = #60A681
$default-second-color = #d3f0e0
$light-gray = #d0d0d0
$dark-gray = #373636
